<% layout('layout/boilerplate') %>



    <div class="container-fluid align-items-center justify-content-center">
        <h1 class="font-weight-bold">Refractories And Consumables</h1>
    </div>
    <form action="/items/search" method="get">
        <input class="form-control" type="search" id="keyWord" name="item[itemName]" placeholder="Search Item" class="mt-1">


    </form>
    <div class="tabel-responsive">
        <table class="table table-hover table align-middle text-center" id="dataTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Item Category</th>
                    <th scope="col">Item Description</th>
                    <th scope="col">Item Quantity</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <form action="/items" method="POST" novalidate class="validated-form form-inline" enctype="multipart/form-data">

                        <td class="form-control-sm text-center">
                            Add
                        </td>
                        <td>
                            <input class="form-control form-control-sm text-center img-fluid" type="file" id="image" name="item[itemImage]" required>
                        </td>
                        <td>
                            <input class="form-control form-control-sm" type="text" id="name" name="item[itemName]" required>
                        </td>
                        <td>
                            <select class="form-select form-select-sm" name="item[itemCategoryName]" id="category" required>
                                <option selected>Category</option>
                                <option value="CCM REFACTORIES">CCM REFACTORIES</option>
                                <option value="CCM REFACTORIES">CCM CONSUMABLES</option>
                                <option value="CCM SPARE PARTS">CCM SPARE PARTS</option>
                                <option value="FURNACE SPARE PARTS">FURNACE SPARE PARTS</option>
                                <option value="FURNACE CONSUMABLES">FURNACE CONSUMABLES</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control form-control-sm" type="text" id="description" name="item[itemDescription]" required>
                        </td>
                        <td>
                            <input class="form-control form-control-sm" type="text" id="qty" name="item[itemQty]" required>
                        </td>
                        <td>
                            <select class="form-select form-select-sm" name="item[itemUnit]" id="unit" required>
                                <option selected>Qty Unit</option>
                                <option value="NOS">NOS</option>
                                <option value="PCS">PCS</option>
                                <option value="BOX">BOX</option>
                                <option value="KGS">KGS</option>
                                <option value="MTS">MTS</option>
                                <option value="BAGS">BAGS</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm my-2 form-control form-control-sm">Save</button>
                        </td>

                    </form>

                </tr>

                <% items.forEach(function(item, index){%>

                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <% for(let image of item.itemImage) {%>
                                <img src="data:image/<%=image.contentType%>;base64,
                            <%=image.data.toString('base64')%>" class="img-fluid" style="height: 60px; width: 60px;">
                                <% }%>
                        </td>
                        <td id="itemNameFilter">
                            <%= item.itemName %>
                        </td>
                        <td id="itemCategoryFilter">
                            <%= item.itemCategoryName %>
                        </td>
                        <td>
                            <%= item.itemDescription %>
                        </td>
                        <td>
                            <%= item.itemQty %>
                        </td>
                        <td>
                            <%= item.itemUnit %>
                        </td>
                        <td>
                            <a href="/items/<%= item._id %>/edit " class="btn btn-sm btn-warning mb-1">Edit</a>
                            <!-- <a href="" class="d-inline" method="POST" onclick="return confirm('Are you sure you want to edit this item?')" class="btn  btn-danger mb-1 ">Delete</a> -->
                            <form action="/items/<%= item._id %>?_method=DELETE" method="post">
                                <button type="submit" onclick="return confirm('Are you sure you want to edit this item?')" class="btn btn-danger btn-sm d-inline mb-1">DELETE</button>
                            </form>
                        </td>
                    </tr>
                    <%}) %>
            </tbody>
        </table>
    </div>

    <!-- <button onclick="filterTable()">Filter</button> -->
    <div class="btn-group">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter
        </button>
        <div class="dropdown-menu">
            ...
        </div>
    </div>

    <script>
        function filterTable() {
            // Get the value of the filter inputs
            var itemNameFilter = document.getElementById("itemNameFilter").value.toUpperCase();
            var itemCategoryFilter = document.getElementById("itemCategoryFilter").value.toUpperCase();

            // Get the table rows
            var rows = document.getElementById("dataTable").getElementsByTagName("tbody")[0].getElementsByTagName("tr");

            // Loop through the rows and hide those that do not match the filter
            for (var i = 0; i < rows.length; i++) {
                var itemName = rows[i].getElementsByTagName("td")[0].innerHTML.toUpperCase();
                var itemCategory = rows[i].getElementsByTagName("td")[5].innerHTML.toUpperCase();

                if (itemName.indexOf(itemNameFilter) > -1 && itemCategory.indexOf(itemCategoryFilter) > -1) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    </script>